/*
Seletores
adiciona o nome das
tags e separa com virgula
*/
h1, p {
    color: #005599;
    text-align: center
}


* {
    margin: 0;
    padding: 0;
}
hr{
    margin: 0;
    padding: 0;
    color: #005599;
}

li{
     color: #e2e5ec;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #476fdd;
}

nav {
    
    background-color: #702663;
}

.banner {
    height: calc(20vh - 20px);
    background: url(../img/back.png) center center /100% 100% scroll;
    background-size: cover;
}


.social {
    height: calc(15vh - 10px);
    background: url(../img/social-logo.png) center center /100% 100% scroll;
    background-size: cover;
}