body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #7691db;
    color: #494848;
}

p {
    text-align: justify;
}

blockquote {
    background-color: #b3c7cf;
}

aside {
    background-color: #7691db;
    color: #FFF;
    color: #FFF;
    color: #FFF;
    color: #F2FFFC;
}

footer {
    background-color: #000;
    color: #fff;
}

nav a {
    color: #494848;
}

main a {
    color: #494848;
}

aside a {
    color: #494848;
    font-family: "Open Sans Condensed", sans-serif;
}